@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 8%);
    --Green: hsl(75, 94%, 57%);
    --foreground: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
